html{
    background-color: aqua;
}
.textInput{
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
}
.textInput textarea{
    resize: none;
}
.button{
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    text-align: center;
    
}
.button button{
    
    border: 3px solid black;
    border-radius: 7px;
    font-size: 20px;
    background-color: aqua;
}
#lettersDiv{
    border: 1px solid black;
    border-radius: 7px;
    width: 50%;
    margin: 20px auto;
}
#wordsDiv{
    border: 1px solid black;
    border-radius: 7px;
    width: 50%;
    margin: 20px auto;
}
@media (min-width: 900px){
  
    .textInput textarea{
     resize: both;
        
    }
}